.tong{
    width: 800px;
    height: 350px;
}
.video{
    width: 500px;
    height: 350px;
    margin-right: 5px;
    float: left;
}
img{
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
    float: right;
}
iframe{
    width: 800px;
    height: 350px;
}